[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
